<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Koa Post Test</h1>
    <form method="POST" action="/postName">
      <p>用户名：</p>
      <input type="text" name="useName" /><br />
      <p>电子邮件：</p>
      <input type="email" name="email" /> <br />
      <button type="submit">提交</button>
    </form>
  </body>
</html>
