<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Error</title>
  </head>
  <body>
    <div id="app"></div>
    <script src="/js/vendors~error~index~login.bundle.js"></script>
    <script src="/js/vendors~error~login.bundle.js"></script>
    <script src="/js/error.bundle.js"></script>
  </body>
</html>
