<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
  </head>
  <body>
    <button href="/getData" class="myBtn">跳转</button>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script>
      const btn = document.querySelector('.myBtn');
      const callback = data => console.log(data);

      $('.myBtn').click(e => {
        const script = document.createElement('script');
        script.src = 'http://localhost:3000/getData';
        document.body.appendChild(script);
        document.body.removeChild(script);
      });
    </script>
  </body>
</html>
